extends baseEmail

//- 1) Use variable from pug.renderFile( ... in views/email.js

//- 2) extend the file content from baseEmail.pug 
//- and replace the "block content" section with the code below:
block content
  //- Use variable "firstName" from locals from email.js
  p Hi #{firstName},
  p Forgot your password? Submit a Patch request with your newpassword and passwordConfirm to: #{url}  
  p (___)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  //-
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't forget your password, please ingore this email!


