main.main
  .error
    .error__title
      h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
      h2.error__emoji 😢 🤯
      
    //- 'msg' is locals from sendErrorDev function in errorController.js
    .error__msg= msg