//- This file gets basic template from base.pug by "extends" and rewrite
extends base

//- use the block with variable name "content" and rewrite the content in the block
//- and this makes overview.pug a parent file of the base.pug
block content
  h1 This is the tour detail page